
cli-framework/.vs/cli-framework/v16/.suo
cli-framework/.vs/cli-framework/v16/Browse.VC.db
cli-framework/.vs/cli-framework/v16/Browse.VC.db-shm
cli-framework/.vs/cli-framework/v16/Browse.VC.db-wal
cli-framework/.vs/cli-framework/v16/Browse.VC.opendb
cli-framework/.vs/cli-framework/v16/ipch/AutoPCH/9dee3c9e294207ed/MAIN.ipch
cli-framework/cli-framework.sln
cli-framework/cli-framework/cli-framework.vcxproj
cli-framework/cli-framework/cli-framework.vcxproj.filters
cli-framework/cli-framework/cli-framework.vcxproj.user
cli-framework/cli-framework/Debug/cli-framework.exe.recipe
cli-framework/cli-framework/Debug/cli-framework.log
cli-framework/cli-framework/Debug/cli-framework.tlog/CL.command.1.tlog
cli-framework/cli-framework/Debug/cli-framework.tlog/CL.read.1.tlog
cli-framework/cli-framework/Debug/cli-framework.tlog/CL.write.1.tlog
cli-framework/cli-framework/Debug/cli-framework.tlog/cli-framework.lastbuildstate
cli-framework/cli-framework/Debug/cli-framework.tlog/link.command.1.tlog
cli-framework/cli-framework/Debug/cli-framework.tlog/link.read.1.tlog
cli-framework/cli-framework/Debug/cli-framework.tlog/link.write.1.tlog
cli-framework/cli-framework/Debug/vc142.idb
cli-framework/cli-framework/Debug/vc142.pdb
cli-framework/Debug/cli-framework.ilk
cli-framework/Debug/cli-framework.pdb
cli-framework/.vs/cli-framework/v16/.suo
cli-framework/.vs/cli-framework/v16/Browse.VC.db
cli-framework/.vs/cli-framework/v16/Browse.VC.db-shm
cli-framework/.vs/cli-framework/v16/Browse.VC.db-wal
cli-framework/.vs/cli-framework/v16/Browse.VC.opendb
cli-framework/.vs/cli-framework/v16/ipch/AutoPCH/9dee3c9e294207ed/MAIN.ipch
cli-framework/cli-framework.sln
cli-framework/cli-framework/cli-framework.vcxproj
cli-framework/cli-framework/cli-framework.vcxproj.filters
cli-framework/cli-framework/cli-framework.vcxproj.user
cli-framework/cli-framework/Debug/cli-framework.exe.recipe
cli-framework/cli-framework/Debug/cli-framework.log
cli-framework/cli-framework/Debug/cli-framework.tlog/CL.command.1.tlog
cli-framework/cli-framework/Debug/cli-framework.tlog/CL.read.1.tlog
cli-framework/cli-framework/Debug/cli-framework.tlog/CL.write.1.tlog
cli-framework/cli-framework/Debug/cli-framework.tlog/cli-framework.lastbuildstate
cli-framework/cli-framework/Debug/cli-framework.tlog/link.command.1.tlog
cli-framework/cli-framework/Debug/cli-framework.tlog/link.read.1.tlog
cli-framework/cli-framework/Debug/cli-framework.tlog/link.write.1.tlog
cli-framework/cli-framework/Debug/vc142.idb
cli-framework/cli-framework/Debug/vc142.pdb
cli-framework/Debug/cli-framework.ilk
cli-framework/Debug/cli-framework.pdb
cli-framework/cli-framework/Debug/cli-framework.tlog/link.write.1.tlog
cli-framework/cli-framework/Debug/vc142.idb
*.tlog
*.idb
*.pdb
*.ilk
*.log
*.recipe
*.ipch
*.user
*.filters
*.vcxproj
*.sln
*.opendb
cli-framework/.vs/cli-framework/v16/Browse.VC.db-wal
cli-framework/.vs/cli-framework/v16/Browse.VC.db-shm
cli-framework/.vs/cli-framework/v16/Browse.VC.db
cli-framework/.vs/cli-framework/v16/.suo
*.db
*.db-shm
*.db-wal
cli-framework/.vs/cli-framework/v16/.suo
cli-framework/.vs/cli-framework/v16/.suo
